<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonnt.moneymanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MMApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.main_activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.report.pie_chart_detail_activity.PieChartDetailActivity"
            android:parentActivityName=".features.main_activity.MainActivity" />
        <activity
            android:name=".features.transactions.transaction_list_activity.TransactionListActivity"></activity>
<!--            android:parentActivityName=".bar_chart_detail_activity.BarChartDetailActivity" /> -->
        <activity
            android:name=".features.report.bar_chart_detail_activity.BarChartDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".features.main_activity.MainActivity" />
        <activity android:name=".features.select_image_activity.SelectImageActivity" />
        <activity android:name=".features.wallet.wallet_detail_activity.WalletDetailActivity" />
        <activity android:name=".features.wallet.select_wallet_activity.SelectWalletActivity" />
        <activity
            android:name=".features.transactions.select_category_activity.SelectCategoryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".features.transactions.transaction_detail_activity.TransactionDetailActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>